#questionMain {
	position: relative;
	display: inline-block;
	border-radius: 5px;
	overflow-y: auto;
	overflow-x: hidden;
	width: 60vw;
	height: stretch;
	box-shadow: 0 0 4px black;
}

.rightpannel {
	float: right;
}

.marksinp {
	display: inline;
	min-width: 50px;
	max-width: 75px;
	margin-right: 25px;
}

.choicesCont {
	flex-direction: row;
}

.choices {
	display: inline;
	/* width: 65%; */
}

.choicesLabel {
	min-width: 110px;
}

.ansInp {
	width: 25%;
	min-width: 200px;
}

#desc {
	text-align: center;
	font-size: large;
}
.tooltipWrapper {
	display: inline-block;
	position: relative;
}

.tooltipWrapper .tooltip {
	display: inline-block;
}

.tooltipWrapper .tooltiptext {
	position: absolute;
	left: calc(100% + 12px);
	width: 250px;
	background-color: black;
	color: #fff;
	padding: 1px 5px 2px 5px;
	border-radius: 5px;
	text-align: justify;
	display: none;
}

.tooltipWrapper .tooltiptext::after {
	content: '';
	position: absolute;
	right: 100%;
	top: 12px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent black transparent transparent;
}
.tooltipWrapper .tooltip:focus + .tooltiptext {
	display: inline;
}

#imageUpload {
	position: relative;
	width: 85%;
	left: 45px;
}

@media only screen and (max-width: 950px) {
	#questionMain {
		width: stretch;
		/* height: 35vh; */
	}
	.qno {
		font-size: 7.5vw;
	}

	.choicesCont {
		flex-direction: column;
	}

	.choices {
		position: relative;
		width: stretch;
		left: 20px;
		bottom: 15px;
	}
	.ansInp {
		position: relative;
		display: block;
		left: 22px;
		width: stretch;

		margin-right: 25px;
	}
	.tooltipWrapper .tooltiptext {
		top: calc(100% + 10px);
		left: -75px;
		width: 220px;
	}

	.tooltipWrapper .tooltiptext::after {
		top: unset;
		bottom: 100%;
		left: 90px;
		border-width: 5px;
		border-style: solid;
		border-color: transparent transparent black transparent;
	}
	#imageUpload {
		left: 7.5vw;
	}
}
